.heading{
    font-size:23px;
    width:100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note{
    font-size:15px;
    color:black;
}
.copy_right_footer{
    position:fixed;
    color: white;
    bottom:0;
    width:100%;
    background-color:grey;
    line-height:3;
    text-align:center;
}
canvas{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px  5px grey;
}
body{
    background-image: url("https://img.freepik.com/free-vector/set-different-doodle-hearts-sketch-design_1035-20325.jpg?size=626&ext=jpg&ga=GA1.2.1276381606.1641081600");

    background-size: cover;
}